<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <title>View Your AddressBook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${addressBook.name}"></h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Digits</th>
    </tr>
    <tr th:each="BuddyInfo : ${addressBook.getBuddies()}">
        <td th:text="${BuddyInfo.id}"></td>
        <td th:text="${BuddyInfo.name}"></td>
        <td th:text="${BuddyInfo.number}"></td>
    </tr>
</table>
<br>
<hr>
<a href="/viewAddressBooks">View AddressBooks</a>
<br>
<a href="/createAddressBook">Create An AddressBook</a>
<br>
<a href="/addBuddy">Add a Buddy</a>
</body>
</html>
